.home {
  padding: 40px;
  height: calc(100vh - 80px);
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.auctionContainer {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(114, 119, 127);
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playerDetailsContainer {
  display: flex;
  gap: 10px;
  flex: 1;
}

.playerDetailsContainer > img {
  height: 200px;
  border-radius: 10px;
  aspect-ratio: 1;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.skillChip {
  padding: 10px;
  background: rgb(216, 228, 245);
  border-radius: 10px;
}

.bidsContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 10px;
}

.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.walletContainer {
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  border: 1px solid rgb(114, 119, 127);
}

.teamBudgetContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.teamBudget {
  flex: 40%;
}

.soldPlayersContainer {
  border-radius: 10px;
  flex: 3;
  padding: 10px;
  border: 1px solid rgb(114, 119, 127);
}

.playersList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
