.home{
  padding: 40px;
  height: calc(100vh - 80px);
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.auctionContainer{
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(114, 119, 127);
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playerDetailsContainer{
  display: flex;
  gap: 10px;
  flex: 1;
}

.playerDetailsContainer>img{
  height: 250px;
  border-radius: 10px;
  aspect-ratio: 1;
}

.detailsContainer{
  display: flex;
  flex-direction: column;
}

.bidsContainer{
  flex: 2;
}

.infoContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.walletContainer{
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  border: 1px solid rgb(114, 119, 127);
}

.soldPlayersContainer{
  border-radius: 10px;
  flex: 3;
  padding: 10px;
  border: 1px solid rgb(114, 119, 127);
}